<br/>
<table style="width: 90%">
  <tr>
  <td colspan="8" align="center"><h6>有用网站</h6></td>
  </tr>
  <tr>
  <td>
  <ul class="small">
  <li><a href="http://www.cx-portal.com/wti/oil_en.html" target='_blank'>石油价格</a></li>
  <li><a href="https://www.bullionvault.com/gold-price-chart.do" target='_blank'>黄金价格</a></li>
  <li><a href="http://finance.sina.com.cn/realstock/company/sh000001/nc.shtml" target='_blank'>上证综合指数</a></li>
  <li><a href="http://stockcharts.com/h-sc/ui?s=%24TSX" target='_blank'>TSX</a></li>
  <li><a href="http://liveindex.org/dow/" target='_blank'>DOW JONES</a></li>
  <li><a href="http://liveindex.org/nasdaq/" target='_blank'>NASDAQ</a></li>
  <li><a href="http://liveindex.org/s&p/" target='_blank'>S&P</a></li>
  <li><a href="http://www.bloomberg.com/markets/commodities" target='_blank'>Bloomberg Commodities</a></li>
  <br>
  <li><a href="http://www.stockcharts.com/freecharts/" target='_blank'>Stock Charts</a></li>
  </ul>
  <td>
  <td valign="top">
  <ul class="small">
  <li><a href="https://cloud.google.com/cloud-build/docs/quickstart-docker" target='_blank'>Quickstart for Docker</a></li>
  <li><a href="https://cloud.google.com/kubernetes-engine/docs/" target='_blank'>Google Kubernetes Engine Documentation</a></li>
  <li><a href="https://cloud.google.com/kubernetes-engine/docs/tutorials/" target='_blank'>Kubernetes Engine Tutorials</a></li>
  <li><a href="https://cloud.google.com/kubernetes-engine/docs/quickstart" target='_blank'>Kubernetes Engine Quick Start</a></li>
  <li><a href="https://developers.google.com/apis-explorer/#p/" target='_blank'>Google APIs Explorer</a></li> 
</ul>
  <td>
  <td>
  <td valign="top">
  <ul class="small">
  <li><a href="http://www.oracle.com/technetwork/java/index.html" target='_blank'>Oracle Technology Network for Java Developers</a></li>
  <li><a href="http://www.ibm.com/developerworks/" target='_blank'>IBM Developer Works</a></li>
  </ul>
  <td>
  <td valign="top">
  <ul class="small">
  <li><a href="https://www.blairannstudios.com/" target='_blank'>Blair Ann Photography Studios</a></li>
  <br>
  <li><a href="http://www.theweathernetwork.com/weather/canada/ontario/toronto" target='_blank'>多伦多天气预报</a></li>
  <br>
  <li><a href="http://www.acbl.org/learn_page/" target='_blank'>ACBL</a></li>
  <li><a href="http://www.bidsky.com/sys/sys.htm" target='_blank'>叫牌体系</a></li>
  <li><a href="http://www.wuzheng.org/gnugo" target='_blank'>网上围棋</a></li>
  <li><a href="http://www.bridgebase.com/client/flash_web0.php?ar=y" target='_blank'>网上桥牌</a></li>
  </ul>
  <td>
  </tr>
  </table>