<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
  <ul class="navbar-nav">
    <li>
      <a routerLink="/it/architecture" routerLinkActive="active" class="nav-link py-0">Architecture/EAI</a>
    </li>
    <li>
      <a routerLink="/it/cloud" routerLinkActive="active" class="nav-link py-0">Cloud</a>
    </li>
    <li>
      <a routerLink="/it/javacore" routerLinkActive="active" class="nav-link py-0">Java Core</a>
    </li>
    <li>
      <a routerLink="/it/javaee" routerLinkActive="active" class="nav-link py-0">Java EE</a>
    </li>
    <li>
      <a routerLink="/it/framework" routerLinkActive="active" class="nav-link py-0">Framework</a>
    </li>
    <li>
      <a routerLink="/it/database" routerLinkActive="active" class="nav-link py-0">Database</a>
    </li>
    <li>
      <a routerLink="/it/security" routerLinkActive="active" class="nav-link py-0">Security</a>
    </li>
    <li>
      <a routerLink="/it/interview" routerLinkActive="active" class="nav-link py-0">Interview</a>
    </li>
    <li>
      <a routerLink="/it/tutorial" routerLinkActive="active" class="nav-link py-0">Tutorial</a>
    </li>
    <li>
      <a routerLink="/it/design" routerLinkActive="active" class="nav-link py-0">Design</a>
    </li>
    <li>
      <a routerLink="/it/trend" routerLinkActive="active" class="nav-link py-0">Tech Trend</a>
    </li>
    <li>
      <a routerLink="/it/tool" routerLinkActive="active" class="nav-link py-0">Tools</a>
    </li>
    <li>
      <a routerLink="/it/methodology" routerLinkActive="active" class="nav-link py-0">Methodology/Process</a>
    </li>
    <li>
      <a routerLink="/it/other" routerLinkActive="active" class="nav-link py-0">Others</a>
    </li>
  </ul>
</nav>