<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
  <ul class="navbar-nav">

    <li>
      <a routerLink="/server/web" routerLinkActive="active" class="nav-link py-0">Web Servers</a>
    </li>
    <li>
      <a routerLink="/server/application" routerLinkActive="active" class="nav-link py-0">Application Servers</a>
    </li>
    <li>
      <a routerLink="/server/bigData" routerLinkActive="active" class="nav-link py-0">Big Data</a>
    </li>
    <li>
      <a routerLink="/server/otherProduct" routerLinkActive="active" class="nav-link py-0">Other Servers/Products</a>
    </li>
    <li>
      <a routerLink="/server/os" routerLinkActive="active" class="nav-link py-0">Operating Systems</a>
    </li>
  </ul>
</nav>