<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
  <ul class="navbar-nav">
    <li>
      <a routerLink="/itCloud/azure" routerLinkActive="active" class="nav-link py-0">Azure</a>
    </li>
    <li>
      <a routerLink="/itCloud/gcp" routerLinkActive="active" class="nav-link py-0">GCP</a>
    </li>
    <li>
      <a routerLink="/itCloud/aws" routerLinkActive="active" class="nav-link py-0">AWS</a>
    </li>
    <li>
      <a routerLink="/itCloud/ibmCloud" routerLinkActive="active" class="nav-link py-0">IBM Cloud</a>
    </li>
    <li>
      <a routerLink="/itCloud/pcf" routerLinkActive="active" class="nav-link py-0">CF/PCF</a>
    </li>
    <li>
      <a routerLink="/itCloud/docker" routerLinkActive="active" class="nav-link py-0">Docker</a>
    </li>
    <li>
      <a routerLink="/itCloud/kubernetes" routerLinkActive="active" class="nav-link py-0">Kubernetes</a>
    </li>
    <li>
      <a routerLink="/itCloud/k8stask" routerLinkActive="active" class="nav-link py-0">K8s Tasks</a>
    </li>
    <li>
      <a routerLink="/itCloud/k8spattern" routerLinkActive="active" class="nav-link py-0">K8s Patterns</a>
    </li>
    <li>
      <a routerLink="/itCloud/devops" routerLinkActive="active" class="nav-link py-0">DevOps</a>
    </li>
    <li>
      <a routerLink="/itCloud/cloudSecurity" routerLinkActive="active" class="nav-link py-0">Cloud Security</a>
    </li>
    <li>
      <a routerLink="/itCloud/training" routerLinkActive="active" class="nav-link py-0">Training</a>
    </li>
  </ul>
</nav>
