<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm bg-info navbar-light justify-content-center">
  <ul class="navbar-nav">
    <li>
      <a routerLink="/it" routerLinkActive="active" class="nav-link py-0">IT</a>
    </li>
    <li>
      <a routerLink="/photo" routerLinkActive="active" class="nav-link py-0">Photo</a>
    </li>
    <li>
      <a routerLink="/chinese" routerLinkActive="active" class="nav-link py-0">中文</a>
    </li>
    <li>
      <a routerLink="/story" routerLinkActive="active" class="nav-link py-0">Story</a>
    </li>
    <li>
      <a routerLink="/link" routerLinkActive="active" class="nav-link py-0">Links</a>
    </li>

  </ul>
</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>
